<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
<title>	Electronica Digital</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="e-commerce site well design with responsive view." />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link th:href="@{/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />

<link th:href="@{/css/stylesheet.css}" rel="stylesheet">
<link th:href="@{/css/responsive.css}" rel="stylesheet">
<link th:href="@{/owl-carousel/owl.carousel.css}" type="text/css" rel="stylesheet" media="screen" />
<link th:href="@{/owl-carousel/owl.transitions.css}" type="text/css" rel="stylesheet" media="screen" />
<script th:src="@{/javascript/jquery-2.1.1.min.js}" type="text/javascript"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script th:src="@{/javascript/jstree.min.js}" type="text/javascript"></script>
<script th:src="@{/javascript/template.js}" type="text/javascript" ></script>
<script th:src="@{/javascript/common.js}" type="text/javascript"></script>
<script th:src="@{/javascript/global.js}" type="text/javascript"></script>
<script th:src="@{/owl-carousel/owl.carousel.min.js}" type="text/javascript"></script>
</head>
<body>
<div class="preloader loader" style="display: block; background:#f2f2f2;"> <img th:src="@{/image/loader.gif"  alt="#"/></div>
<header th:fragment="header">
  <div class="header-top" th:fragment="header_top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="top-left pull-left">
            <div class="language">
              <form action="#" method="post" enctype="multipart/form-data" id="language">
                <div class="btn-group">
                  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <img th:src="@{/image/flags/gb.png}" alt="English" title="English">English <i class="fa fa-caret-down"></i></button>
                  <ul class="dropdown-menu">
                    <li><a href="#"><img th:src="@{/image/flags/lb.png}" alt="Arabic" title="Arabic"> Arabic</a></li>
                    <li><a href="#"><img th:src="@{/image/flags/gb.png}" alt="English" title="English"> English</a></li>
                  </ul>
                </div>
              </form>
            </div>
            <div class="currency">
              <form action="#" method="post" enctype="multipart/form-data" id="currency">
                <div class="btn-group">
                  <button class="btn btn-link dropdown-toggle" data-toggle="dropdown"> <strong>$</strong> <i class="fa fa-caret-down"></i> </button>
                  <ul class="dropdown-menu">
                    <li>
                      <button class="currency-select btn btn-link btn-block" type="button" name="EUR">€ Euro</button>
                    </li>
                    <li>
                      <button class="currency-select btn btn-link btn-block" type="button" name="GBP">£ Pound Sterling</button>
                    </li>
                    <li>
                      <button class="currency-select btn btn-link btn-block" type="button" name="USD">$ US Dollar</button>
                    </li>
                  </ul>
                </div>
              </form>
            </div>
          </div>
          <div class="top-right pull-right">
            <div id="top-links" class="nav pull-right">
              <ul class="list-inline">
                <li class="dropdown account"><a href="#" title="My Account" class="  dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"></i><span>My cuenta</span> <span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a th:href="@{/home/register}">Registrarse</a></li>
                    <li><a th:href="@{/home/login}">Entrar</a></li>
                  </ul>
                </li>
                <li><a href="#" id="wishlist-total" title="Wish List (0)"><i class="fa fa-heart"></i><span>Lista de Deseos</span><span> (0)</span></a></li>
              </ul>
              <div class="search-box">
                <input class="input-text" placeholder="Busqueda de productos.." type="text">
                <button class="search-btn"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" th:fragment="header_bot">
    <div class="header-inner">
      <div class="col-sm-4 col-xs-6 header-left">
        <div class="shipping">
          <div class="shipping-img"></div>
          <div class="shipping-text">(+91) 000-1233<br>
            <span class="shipping-detail">24/7 Soporte en linea</span></div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 header-middle">
        <div class="header-middle-top">
          <div id="logo"> <a th:href="@{/}"><img th:src="@{/image/logo.png}" title="E-Commerce" alt="E-Commerce" class="img-responsive" /></a> </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 header-right">
        <div id="cart" class="btn-group btn-block">
          <button type="button" class="btn btn-inverse btn-block btn-lg dropdown-toggle cart-dropdown-button"> <span id="cart-total"><span class="cart-title">Carrito de Compras</span><br>
		<span th:text="*{session.cart.size()}?: '(0)'"></span><text>&nbsp;&nbsp; </text> <span id="total2" ></span></span> </button>
          <ul class="dropdown-menu pull-right cart-dropdown-menu">
            <li>
              <table class="table table-striped">
                <tbody> 
                <th:block th:each="item, i : ${session.cart}">
                  <tr>
                    <td class="text-center"><a href="#"><img class="img-thumbnail" title="lorem ippsum dolor dummy" alt="lorem ippsum dolor dummy" th:src="@{/image/product/7product50x59.jpg}"></a></td>
                    <td class="text-left"><a href="#"><span th:text="${item.producto.nombre}"></span></a></td>
                    <td class="text-right"><span th:text="${item.cantidad}" ></span></td>
                    <td class="text-right"><span th:text="${item.producto.precio}"></span></td>
                    <td class="text-center"><a th:href="@{'/cart/delete/'+ ${i.index}}"  class="btn btn-danger btn-xs" title="Remove" type="button"><i class="fa fa-times" ></i></a></td>
                    <td  class="text-right">$<span  th:text="${#numbers.formatDecimal(item.producto.precio*item.cantidad,0,2,'POINT')}"></span></td>
                  </tr>
                  </th:block>
                </tbody>
              </table>
            </li>
            <li>
              <div>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td class="text-right"><strong>Sub-Total</strong></td>
                      <td id="total" class="text-right"></td>
                    </tr>
                    <tr>
                      <td class="text-right"><strong>Eco Tax</strong></td>
                      <td class="text-right">$0.00</td>
                    </tr>
                    <tr>
                      <td class="text-right"><strong>VAT </strong></td>
                      <td class="text-right">$0.00</td>
                    </tr>
                    <tr>
                      <td class="text-right"><strong>Total</strong></td>
                      <td id="total1" class="text-right"></td>
                    </tr>
                  </tbody>
                </table>
                <p class="text-right"> <span class="btn-viewcart"><a th:href="@{/home/cart}"><strong><i class="fa fa-shopping-cart"></i> View Cart</strong></a></span> <span class="btn-checkout"><a th:href="@{/home/checkout}"><strong><i class="fa fa-share"></i> Checkout</strong></a></span> </p>
              </div>
              <script type="text/javascript">
				var sum = 0;
				var conDecimal=0;
				$("#cart tr").not(':first+1').not(':last+1').each(function() {
					// extrae el subtotal de la tabla
					var subtotal = $(this).find('td:eq(5)').text();
					console.log(subtotal)
					// extrae sólo la parte numérica
					var num = Number(subtotal.replace(/[^0-9\.]+/g,""));
					sum += num;
					conDecimal = sum.toFixed(2);
					console.log(conDecimal)
				});
				$('#total').html("$"+conDecimal);
				$('#total1').html("$"+conDecimal);
				$('#total2').html("$"+conDecimal);
				//document.getElementById("total");
	  		</script>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <nav id="menu" class="navbar">
      <div class="nav-inner">
        <div class="navbar-header"><span id="category" class="visible-xs">Categories</span>
          <button type="button" class="btn btn-navbar navbar-toggle" ><i class="fa fa-bars"></i></button>
        </div>
        <div class="navbar-collapse">
          <ul class="main-navigation">
            <li><a th:href="@{/}"   class="parent"  >Home</a> </li>
            <th:block th:each="i:${categories}">
           	  <li><a th:href="@{'/producto/categoria/'+${i.id}}" th:text="${i.nombre}"></a>
           	    <th:block th:if="${i.categories.size()} > 0">
           	      <ul>
           	    	<th:block th:each="x:${i.categories}">
	           	    	<li><a th:href="@{'/producto/categoria/'+${x.id}}" th:text="${x.nombre}"></a>
	           	    	<th:block th:if="${x.categories.size()} > 0">
	           	    	<ul>
	           	    	<th:block th:each="y:${x.categories}">
	           	    	<li><a th:href="@{'/producto/categoria/'+${y.id}}" ><span th:text="${y.nombre}"></span></a></li>
	           	    	</th:block>
	           	    	</ul>
	           	    	</th:block>
	           	    	</li>
	           	    </th:block>
           	      </ul>
           	    </th:block> 
           	   </li>
           	</th:block>    
            <li><a th:href="@{/home/categoria}"   class="parent"  >Collection</a> </li>
            <li><a th:href="@{/home/categoria}"   class="parent"  >Women</a> </li>
            <li><a th:href="@{/home/categoria}"   class="parent"  >Men</a> </li>
            <li><a th:href="@{/home/categoria}"   class="parent"  >Accessories</a> </li>
            <li><a href="#" class="active parent">Page</a>
              <ul>
                <li><a th:href="@{/home/categoria}">Category Page</a></li>
                <li><a th:href="@{/home/cart}">Cart Page</a></li>
                <li><a th:href="@{/home/checkout}">Checkout Page</a></li>
                <li><a th:href="@{/home/blog}" >Blog Page</a></li>
                <li><a th:href="@{/home/singleBlog}" >Singale Blog Page</a></li>
                <li><a th:href="@{/home/register}">Register Page</a></li>
                <li><a th:href="@{/home/contact}">Contact Page</a></li>
              </ul>
            </li>
            <li><a th:href="@{/home/blog}" class="parent"  >Blog</a></li>
            <li><a th:href="@{/home/about}" >About us</a></li>
            <li><a th:href="@{/home/contact}" >Contact Us</a> </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<div class="mainbanner" th:fragment="banner">
  <div id="main-banner" class="owl-carousel home-slider">
    <div class="item"> <a href="#"><img th:src="@{/image/banners/Main-Banner1.jpg}" alt="main-banner1" class="img-responsive" /></a> </div>
    <div class="item"> <a href="#"><img th:src="@{/image/banners/Main-Banner2.jpg}" alt="main-banner2" class="img-responsive" /></a> </div>
    <div class="item"> <a href="#"><img th:src="@{/image/banners/Main-Banner3.jpg}" alt="main-banner3" class="img-responsive" /></a> </div>
  </div>
</div>

<footer th:fragment="footer_top">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 footer-block">
        <h5 class="footer-title">Informacion</h5>
        <ul class="list-unstyled ul-wrapper">
       	  <li><a href="#">Lista de deseos</a></li>
      	  <li><a href="#">Encuentranos</a></li>
      	  <li><a href="#">Politicas y publicidad</a></li>
          <li><a th:href="@{/home/about}">Sobre nosotros</a></li>
          <li><a href="#">Terminos &amp; Condiciones</a></li>
        </ul>
      </div>
      <div class="col-sm-3 footer-block">
        <h5 class="footer-title">¿Por que escogernos?</h5>
        <ul class="list-unstyled ul-wrapper">
          <li><a th:href="@{/home/contact}">Contactanos</a></li>
          <li><a href="#">Retirar productos</a></li>
          <li><a href="#">Vales de regalos</a></li>
          <li><a href="#">Devolucion y cambios</a></li>
          <li><a href="#">Opciones de envio</a></li>
          <li><a href="#">Ayuda y preguntas frecuentes</a></li>
          <li><a href="#">Venta solo por hoy</a></li>
        </ul>
      </div>
      <div class="col-sm-3 footer-block">
        <h5 class="footer-title">Mi cuenta</h5>
        <ul class="list-unstyled ul-wrapper">
          <li><a href="#">Registrarse</a></li>
          <li><a th:href="@{/home/afiliacion}">Afilicacion</a></li>
          <li><a href="#">Ver carrito</a></li>
          <li><a href="#">Revisar</a></li>
          <li><a href="#">Rastrear mi orden</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
      </div>
      <div class="col-sm-3 footer-block">
        <div class="content_footercms_right">
          <div class="footer-contact">
            <h5 class="contact-title footer-title">Contactanos</h5>
            <ul class="ul-wrapper">
              <li><i class="fa fa-map-marker"></i><span class="location2"> Warehouse & Offices,<br>
                12345 Street name, California<br>
                USA</span></li>
              <li><i class="fa fa-envelope"></i><span class="mail2"><a href="#">info@localhost.com</a></span></li>
              <li><i class="fa fa-mobile"></i><span class="phone2">+91 0987-654-321<br>+91 0987-654-321</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="footer-top-cms">
        <div class="col-sm-7">
          <div class="newslatter">
            <form>
              <h5>REGISTRATE EN NUESTRO BOLETIN DE NOTICIAS</h5>
              <div class="input-group">
                <input type="text" class=" form-control" placeholder="example@gmail.com">
                <button type="submit" value="Sign up" class="btn btn-large btn-primary">Subscribete</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="footer-social">
            <h5>Social</h5>
            <ul>
              <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>    
  </div>
  <a id="scrollup">Scroll</a> </footer>
<div class="footer-bottom" th:fragment="footer_bot">
  <div class="container">
    <div class="copyright">Desarrollado &nbsp;<a class="yourstore" href="#">leoStudio &copy; 2019 </a> </div>
    <div class="footer-bottom-cms">
      <div class="footer-payment">
        <ul>
          <li class="mastero"><a href="#"><img alt="" th:src="@{/image/payment/mastero.jpg}"></a></li>
          <li class="visa"><a href="#"><img alt="" th:src="@{/image/payment/visa.jpg}"></a></li>
          <li class="currus"><a href="#"><img alt="" th:src="@{/image/payment/currus.jpg}"></a></li>
          <li class="discover"><a href="#"><img alt="" th:src="@{/image/payment/discover.jpg}"></a></li>
          <li class="bank"><a href="#"><img alt="" th:src="@{/image/payment/bank.jpg}"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/javascript/parally.js}"></script> 
<script>
$('.parallax').parally({offset: -40});
</script>
</body>
</html>
