<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:replace="/views/public/layout/layout :: head"></head>
<body class="account-register col-2">
<header th:replace="/views/public/layout/layout :: header"></header>
<div class="container">
    <ul class="breadcrumb">
        <li><a th:href="@{/home/home}"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Account</a></li>
        <li><a th:href="@{/home/register}">Register</a></li>
    </ul>
    <div class="row">
        <div class="col-sm-3 hidden-xs column-left" id="column-left">
            <div class="column-block">
                <div class="columnblock-title">Account</div>
                <div class="account-block">
                    <div class="list-group"> <a class="list-group-item" th:href="@{/home/login}">Login</a> <a class="list-group-item" th:href="@{/home/register}">Register</a> <a class="list-group-item" th:href="@{/home/forgetPassword}">Forgotten Password</a> <a class="list-group-item" href="#">My Account</a> <a class="list-group-item" href="#">Address Book</a> <a class="list-group-item" href="#">Wish List</a> <a class="list-group-item" href="#">Order History</a> <a class="list-group-item" href="download">Downloads</a> <a class="list-group-item" href="#">Reward Points</a> <a class="list-group-item" href="#">Returns</a> <a class="list-group-item" href="#">Transactions</a> <a class="list-group-item" href="#">Newsletter</a><a class="list-group-item last" href="#">Recurring payments</a> </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9" id="content">
            <h1>Register Account</h1>
            <p>If you already have an account with us, please login at the <a th:href="@{/home/login}">login page</a>.</p>
            <form th:action="@{/account/registro}" th:object="${account}" class="form-horizontal" enctype="multipart/form-data" method="post">
                <fieldset id="account">
                    <legend>Your Personal Details</legend>
                    <div style="display: none;" class="form-group required">
                        <label class="col-sm-2 control-label">Customer Group</label>
                        <div class="col-sm-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" checked="checked" value="1" name="customer_group_id">
                                    Default</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="input-firstname" class="col-sm-2 control-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{nombre}" class="form-control" id="input-firstname" placeholder="First Name" value="" name="firstname">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="input-lastname" class="col-sm-2 control-label">Apellido paterno</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{apPaterno}" class="form-control" id="input-lastname" placeholder="Last Name" value="" name="lastname">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="input-lastname" class="col-sm-2 control-label">Apellido Materno</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{apMaterno}" class="form-control" id="input-lastname" placeholder="Last Name" value="" name="lastname">
                        </div>
                    </div>
                    
                </fieldset>
                <fieldset>
                    <legend>Tu cuenta</legend>
                    
					<div class="form-group required">
                        <label for="input-lastname" class="col-sm-2 control-label">username</label>
                        <div class="col-sm-10">
                            <input type="text" th:field="*{username}" class="form-control" id="input-lastname" placeholder="Last Name" value="" name="lastname">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="input-email" class="col-sm-2 control-label">E-Mail</label>
                        <div class="col-sm-10">
                            <input type="email" th:field="*{email}" class="form-control" id="input-email" placeholder="E-Mail" value="" name="email">
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="input-password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" th:field="*{password}" class="form-control" id="input-password" placeholder="Password" value="" name="password">
                        </div>
                    </div>
					
					
                </fieldset>
                <div class="buttons">
                    <div class="pull-right">I have read and agree to the <a class="agree" href="#"><b>Privacy Policy</b></a>
                        <input type="checkbox" value="1" name="agree">
                        &nbsp;
                        <input type="submit" class="btn btn-primary" value="Continue">
                    </div>
                </div>
            </form>
            <span th:text="${message}"></span>
        </div>
    </div>
</div>
<footer th:replace="/views/public/layout/layout :: footer_top"></footer>
<div th:replace="/views/public/layout/layout :: footer_bot"></div>
</body>
</html>