<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head th:replace="/views/public/layout/layout :: head"></head>
<body class="affiliate-login col-2">
<header th:replace="/views/public/layout/layout :: header"></header>
<div th:replace="/views/public/layout/layout :: banner"></div>
<div class="container">
  <ul class="breadcrumb">
    <li><a th:href="@{/home/home}"><i class="fa fa-home"></i></a></li>
    <li><a th:href="@{/home/login}">Login</a></li>
  </ul>
  <div class="row">
    <div id="column-left" class="col-sm-3 hidden-xs column-left">
      <div class="column-block">
        <div class="columnblock-title">Affiliate</div>
        <div class="affiliate-block">
          <div class="list-group"> <a th:href="@{/home/login}" class="list-group-item">Login</a> <a th:href="@{/home/register}" class="list-group-item">Register</a> <a th:href="@{/home/forgetPassword}" class="list-group-item">Forgotten Password</a> <a href="#" class="list-group-item">My Account</a> <a href="#" class="list-group-item">Payment Options</a> <a href="#" class="list-group-item">Affiliate Tracking</a> <a href="#" class="list-group-item last">Transactions</a> </div>
        </div>
      </div>
    </div>
    <div id="content" class="col-sm-6">
      <h1>Affiliate Program</h1>
      <p>maxenlist affiliate program is free and enables members to earn revenue by placing a link or links on their web site which advertises maxenlist or specific products on it. Any sales made to customers who have clicked on those links will earn the affiliate commission. The standard commission rate is currently 5%.</p>
      <p>For more information, visit our FAQ page or see our Affiliate terms &amp; conditions.</p>
      <div class="row">
        <div class="col-sm-6">
          <div class="well">
            <h2>New Affiliate</h2>
            <p>
            <p>I am not currently an affiliate.</p>
            <p>Click Continue below to create a new affiliate account. Please note that this is not connected in any way to your customer account.</p>

            <a class="btn btn-primary" th:href="@{/home/register}">Continue</a></div>
        </div>
        <div class="col-sm-6">
          <div class="well">
            <h2>Affiliate Login</h2>
            <p><strong>I am a returning affiliate.</strong></p>
            <form action="login}" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label class="control-label" for="input-email">Affiliate E-Mail</label>
                <input type="text" name="email" value="" placeholder="Affiliate E-Mail" id="input-email" class="form-control" />
              </div>
              <div class="form-group">
                <label class="control-label" for="input-password">Password</label>
                <input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control" />
                <a th:href="@{/home/forgetPassword}">Forgotten Password</a> </div>
              <input type="submit" value="Login" class="btn btn-primary" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer th:replace="/views/public/layout/layout :: footer_top"></footer>
<div th:replace="/views/public/layout/layout :: footer_bot"></div>
</body>
</html>